/*
The loaders use CSS custom properties (variables) to control the attributes of the loaders
*/
:root {
  --loader-width: 70px;
  --loader-height: 70px;
  --loader-color-primary: rgb(41, 41, 41);
  --loader-color-secondary: #eee;
  --line-width: 3px;
  --animation-duration: 2s;
  --loader-initial-scale: 0.1;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.lds-spinner {
  opacity: 0;
  margin-top: 8em;
}

.lds-spinner,
.lds-spinner:before,
.lds-spinner:after {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}
/*
In order to get optimal results, please only change the
variables above and don't change anything in the actual loader code
*/

@keyframes circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-spinner.simple-circle {
  transform-origin: center center;
  border: var(--line-width, 4px) solid var(--loader-color-secondary, #fff);
  border-right-color: var(--loader-color-primary, #00f);
  width: var(--loader-width, 100px);
  height: var(--loader-height, 100px);
  border-radius: 50%;
  animation: circle-loader var(--animation-duration, 1s) infinite ease-out;
}
// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #bfd2ff;

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.banner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 8rem;
  text-align: left;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.1em;
  margin: 0;
  font-size: 1.6rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(18em, 50em) 1fr;
  background-color: #ffff64;
}

form {
  grid-column: 2/3;
  width: 100%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  justify-content: center;
  gap: 0.5em;
  input {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.1em;
    font-size: 1.6rem;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    border: none;
    display: block;
    width: 100%;
  }
}
button {
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: none;
  background-color: #b63131;
  text-transform: uppercase;
  cursor: pointer;
}

button[disabled] {
  background-color: #b631318e;
  cursor: default;
}

.disable {
  pointer-events: none;
}

.nav {
  max-width: 49em;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.songs {
  font-size: 1.8rem;
  padding: 1em;
  max-width: 45em;
  margin: auto;
}

.songs :hover {
  background-color: #ffff64;
  cursor: pointer;
}

.errorPopup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.712);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.errorMessage {
  width: 20em;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    circle at 0% 0%,
    #fcfc73,
    #ffff64 51%,
    #dfdf59
  );
  .message {
    color: #000000;
    font-size: 3rem;
  }
  .errBtn {
    margin-top: 1em;
  }
}

.errorOpen {
  opacity: 1;
  pointer-events: all;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner-open {
  opacity: 1;
}
